<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">

          <div class="row">
              <div class="col-3"></div>
            <div class="col-6" style="text-align: center;">
               <br>
               <br>
               <h3>Introduction</h3>
              <p>  
                Students have had to conduct their education online due to the pandemic. What this survey seeks to find is to find out how disruptive this pandemic has been to our students and what can we do to asset them during this crises.
              </p>  
                <br>
              <h3>About Us</h3>
              <br>
              <p>We are a group researchers who seek to improve education delivery to students during this pandemic to ensure that they will not be left behind.
              </p>
              <br>
              <h3>Instructions</h3>
                <br>
                <p>Click on the button below to fill out our survey, your participation would much appreciated.</p>
            
              
            
                <button><a href="/add-user">Survey</a></button>
                  
                

            </div>
            <div class="col-3"></div>

          </div>
        


        
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->